<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.magicswitchd.companion</key>
	<true/>
	<key>com.apple.ReportCrash.Jetsam</key>
	<true/>
	<key>com.apple.ReportCrash.SimulateCrash</key>
	<true/>
	<key>com.apple.cloudphotod</key>
	<true/>
	<key>com.apple.ind</key>
	<true/>
	<key>com.apple.assistant_service</key>
	<true/>
	<key>com.apple.systemstats.microstackshot_periodic</key>
	<true/>
	<key>com.apple.tipsd</key>
	<true/>
	<key>com.apple.syslogd</key>
	<true/>
	<key>com.apple.coresymbolicationd</key>
	<true/>
	<key>com.apple.prdaily</key>
	<true/>
	<key>com.apple.iosdiagnosticsd</key>
	<true/>
	<key>com.apple.mobile.obliteration</key>
	<true/>
	<key>com.apple.dataaccess.dataaccessd</key>
	<true/>
	<key>com.apple.iapd</key>
	<true/>
	<key>com.apple.certui.relay</key>
	<true/>
	<key>com.apple.racoon</key>
	<true/>
	<key>com.apple.wifi.wapic</key>
	<true/>
	<key>com.apple.bird</key>
	<true/>
	<key>com.apple.homed</key>
	<true/>
	<key>com.apple.abm-helper</key>
	<true/>
	<key>com.apple.DMHelper</key>
	<true/>
	<key>com.apple.seld</key>
	<true/>
	<key>com.apple.companion_proxy</key>
	<true/>
	<key>com.apple.symptomsd</key>
	<true/>
	<key>com.apple.symptomsd-diag</key>
	<true/>
	<key>com.apple.mobile.cache_delete_app_container_caches</key>
	<true/>
	<key>com.apple.languageassetd</key>
	<true/>
	<key>com.apple.PurpleReverseProxy</key>
	<true/>
	<key>com.apple.nesessionmanager</key>
	<true/>
	<key>com.apple.asd</key>
	<true/>
	<key>com.apple.cfnetwork.cfnetworkagent</key>
	<true/>
	<key>com.apple.itunesstored</key>
	<true/>
	<key>com.apple.nsurlsessiond</key>
	<true/>
	<key>com.apple.mDNSResponderHelper.reloaded</key>
	<true/>
	<key>com.apple.OTACrashCopier</key>
	<true/>
	<key>com.apple.ReportCrash.SafetyNet</key>
	<true/>
	<key>com.apple.Safari.SafeBrowsing.Service</key>
	<true/>
	<key>com.apple.cloudd</key>
	<true/>
	<key>com.apple.aslmanager</key>
	<true/>
	<key>com.apple.awdd</key>
	<true/>
	<key>com.apple.Maps.geocorrectiond</key>
	<true/>
	<key>com.apple.carkitd</key>
	<true/>
	<key>com.apple.pluginkit.pkreporter</key>
	<true/>
	<key>com.apple.sysdiagnose</key>
	<true/>
	<key>com.apple.quicklook.ThumbnailsAgent</key>
	<true/>
	<key>com.apple.mediaremoted</key>
	<true/>
	<key>com.apple.symptomsd.helper</key>
	<true/>
	<key>com.apple.neagent-ios</key>
	<true/>
	<key>com.apple.BTServer.pbap</key>
	<true/>
	<key>com.apple.mobile.insecure_notification_proxy</key>
	<true/>
	<key>com.apple.corecaptured</key>
	<true/>
	<key>com.apple.mobile.cache_delete_daily</key>
	<true/>
	<key>com.apple.managedconfiguration.mdmd</key>
	<true/>
	<key>com.apple.nand_task_scheduler</key>
	<true/>
	<key>com.apple.online-auth-agent.xpc</key>
	<true/>
	<key>com.apple.networkserviceproxy</key>
	<true/>
	<key>com.apple.ctkd</key>
	<true/>
	<key>com.apple.nanoregistryd</key>
	<true/>
	<key>com.apple.bbproxy</key>
	<true/>
	<key>com.apple.wcd</key>
	<true/>
	<key>com.apple.assistivetouchd</key>
	<true/>
	<key>com.apple.screensharingserver</key>
	<true/>
	<key>com.apple.IOAccelMemoryInfoCollector</key>
	<true/>
	<key>com.apple.filesystems.userfs_helper</key>
	<true/>
	<key>com.apple.CrashHousekeeping</key>
	<true/>
	<key>com.apple.timed</key>
	<true/>
	<key>com.apple.DumpPanic</key>
	<true/>
	<key>com.openssh.sshd</key>
	<true/>
	<key>com.apple.OTAPKIAssetTool</key>
	<true/>
	<key>com.apple.feedbackarchiverd</key>
	<true/>
	<key>com.apple.healthd</key>
	<true/>
	<key>com.apple.diagnosticd</key>
	<true/>
	<key>com.apple.searchd</key>
	<true/>
	<key>com.apple.syslog_relay</key>
	<true/>
	<key>com.apple.powerlogd</key>
	<true/>
	<key>com.apple.powerlogHelperd</key>
	<true/>
	<key>com.apple.AdminLite</key>
	<true/>
	<key>com.apple.iaptransportd</key>
	<true/>
	<key>com.apple.mediastream.mstreamd</key>
	<true/>
	<key>com.apple.security.keychainsyncingoveridsproxy</key>
	<true/>
	<key>com.apple.duetexpertd</key>
	<true/>
	<key>com.apple.BTServer.map</key>
	<true/>
	<key>com.apple.replayd</key>
	<true/>
	<key>com.apple.IMLoggingAgent</key>
	<true/>
	<key>com.apple.askpermissiond</key>
	<true/>
	<key>com.apple.pfd</key>
	<true/>
	<key>com.apple.coreservices.useractivityd</key>
	<true/>
	<key>com.apple.preboardservice</key>
	<true/>
	<key>com.apple.splashboard</key>
	<true/>
	<key>com.apple.storebookkeeperd</key>
	<true/>
	<key>com.apple.streaming_zip_conduit</key>
	<true/>
	<key>com.apple.tzlinkd</key>
	<true/>
	<key>com.apple.mobile.cache_delete_mobile_backup</key>
	<true/>
	<key>com.apple.lskdmsed</key>
	<true/>
	<key>com.apple.nlcd</key>
	<true/>
	<key>com.apple.webinspectord</key>
	<true/>
	<key>com.apple.mediaartworkd</key>
	<true/>
	<key>com.apple.mobile.assertion_agent</key>
	<true/>
	<key>com.apple.fdrserviced</key>
	<true/>
	<key>com.apple.rolld</key>
	<true/>
	<key>com.apple.matd</key>
	<true/>
	<key>com.apple.filesystems.userfsd</key>
	<true/>
	<key>com.apple.fs_task_scheduler</key>
	<true/>
	<key>com.apple.akd</key>
	<true/>
	<key>com.apple.DuetHeuristic-BM</key>
	<true/>
	<key>com.apple.assetsd</key>
	<true/>
	<key>com.apple.captiveagent</key>
	<true/>
	<key>com.apple.parsecd</key>
	<true/>
	<key>com.apple.ProxiedCrashCopier.ProxyingDevice</key>
	<true/>
	<key>com.apple.crash_mover</key>
	<true/>
	<key>com.apple.rtcreportingd</key>
	<true/>
	<key>com.apple.atc.atwakeup</key>
	<true/>
	<key>com.apple.locationd</key>
	<true/>
	<key>com.apple.timezoneupdates.tzd</key>
	<true/>
	<key>com.apple.hangreporter</key>
	<true/>
	<key>com.apple.SafariCloudHistoryPushAgent</key>
	<true/>
	<key>com.apple.BTServer.cloudpairing</key>
	<true/>
	<key>com.apple.icloud.findmydeviced</key>
	<true/>
	<key>com.apple.icloud.fmflocatord</key>
	<true/>
	<key>com.apple.security.cloudkeychainproxy3</key>
	<true/>
	<key>com.apple.followupd</key>
	<true/>
	<key>com.apple.cloudpaird</key>
	<true/>
	<key>com.apple.cfnetwork.AuthBrokerAgent</key>
	<true/>
	<key>com.apple.WebBookmarks.webbookmarksd</key>
	<true/>
	<key>com.apple.VideoSubscriberAccount.Bulletind</key>
	<true/>
	<key>com.apple.aggregated.addaily</key>
	<true/>
	<key>com.apple.iapauthd</key>
	<true/>
	<key>com.apple.voiced</key>
	<true/>
	<key>com.apple.personad</key>
	<true/>
	<key>com.apple.coreduetd</key>
	<true/>
	<key>com.apple.BTServer.avrcp</key>
	<true/>
	<key>com.apple.BlueTool</key>
	<true/>
	<key>com.apple.reversetemplated</key>
	<true/>
	<key>com.apple.voicemail.vmd</key>
	<true/>
	<key>com.apple.security.swcagent</key>
	<true/>
	<key>com.apple.security.CircleJoinRequested</key>
	<true/>
	<key>com.apple.and</key>
	<true/>
	<key>com.apple.device-o-matic</key>
	<true/>
	<key>com.apple.cache_delete</key>
	<true/>
	<key>com.apple.mobile.cache_delete_itunes_store</key>
	<true/>
	<key>com.apple.CallHistorySyncHelper</key>
	<true/>
	<key>com.apple.mobilestoredemod</key>
	<true/>
	<key>com.apple.imavagent</key>
	<true/>
	<key>com.apple.nanoregistrylaunchd</key>
	<true/>
	<key>com.apple.GSSCred</key>
	<true/>
	<key>com.apple.subridged</key>
	<true/>
	<key>com.apple.mobilecheckpoint.checkpointd</key>
	<true/>
	<key>com.apple.mdt</key>
	<true/>
	<key>com.apple.bootpd</key>
	<true/>
	<key>com.apple.crashreportcopymobile</key>
	<true/>
	<key>com.apple.MobileAccessoryUpdater</key>
	<true/>
	<key>com.apple.sharingd</key>
	<true/>
	<key>com.apple.CloudPhotoDerivativeGenerator</key>
	<true/>
	<key>com.apple.icloud.fmfd</key>
	<true/>
	<key>com.apple.protectedcloudstorage.protectedcloudkeysyncing</key>
	<true/>
	<key>com.apple.newswidgetpolicyd</key>
	<true/>
	<key>com.apple.photoanalysisd</key>
	<true/>
	<key>com.apple.nanobackupd</key>
	<true/>
	<key>com.apple.videosubscriptionsd</key>
	<true/>
	<key>com.apple.aggregated</key>
	<true/>
	<key>com.apple.ABDatabaseDoctor</key>
	<true/>
	<key>com.apple.fseventsd</key>
	<true/>
	<key>com.apple.iad.limitadtrackingd</key>
	<true/>
	<key>com.apple.iap2d</key>
	<true/>
	<key>com.apple.biometrickitd</key>
	<true/>
	<key>com.apple.VoiceOverTouch</key>
	<true/>
	<key>com.apple.AssetCacheLocatorService</key>
	<true/>
	<key>com.apple.familynotification</key>
	<true/>
	<key>com.apple.familycircled</key>
	<true/>
	<key>com.apple.suggestd</key>
	<true/>
	<key>com.apple.EscrowSecurityAlert</key>
	<true/>
	<key>com.apple.coreservices.appleid.authentication</key>
	<true/>
	<key>com.apple.atc</key>
	<true/>
	<key>com.apple.imcore.imtransferagent</key>
	<true/>
	<key>com.apple.imautomatichistorydeletionagent</key>
	<true/>
	<key>com.apple.navd</key>
	<true/>
	<key>com.apple.mobile.notification_proxy</key>
	<true/>
	<key>com.apple.coreservices.appleid.passwordcheck</key>
	<true/>
	<key>com.apple.preboardservice_v2</key>
	<true/>
	<key>com.apple.revisiond</key>
	<true/>
	<key>com.apple.routined</key>
	<true/>
	<key>com.apple.usb.networking.addNetworkInterface</key>
	<true/>
	<key>com.apple.managedconfiguration.teslad</key>
	<true/>
	<key>com.apple.mobilestoredemodhelper</key>
	<true/>
	<key>com.apple.wifiFirmwareLoader</key>
	<true/>
	<key>com.apple.touchsetupd</key>
	<true/>
	<key>com.apple.cdpd</key>
	<true/>
	<key>com.apple.appsupport.cplogd</key>
	<true/>
	<key>com.apple.ReportCrash</key>
	<true/>
	<key>com.apple.DumpBasebandCrash</key>
	<true/>
	<key>com.apple.OTATaskingAgent</key>
	<true/>
	<key>com.apple.mobile.softwareupdated</key>
	<true/>
	<key>com.apple.gamed</key>
	<true/>
	<key>com.apple.passd</key>
	<true/>
	<key>com.apple.spindump</key>
	<true/>
	<key>com.apple.assistantd</key>
	<true/>
	<key>com.apple.mediaanalysisd</key>
	<true/>
	<key>com.apple.medialibraryd</key>
	<true/>
	<key>com.apple.midiserver</key>
	<true/>
	<key>com.apple.MobileInternetSharing</key>
	<true/>
	<key>com.apple.printd</key>
	<true/>
	<key>com.apple.mobile.storage_mounter</key>
	<true/>
	<key>com.apple.mobile.keybagd</key>
	<true/>
	<key>com.apple.Maps.mapspushd</key>
	<true/>
	<key>com.apple.backupd</key>
	<true/>
	<key>com.apple.afcd</key>
	<true/>
	<key>com.apple.voicememod</key>
	<true/>
	<key>com.apple.misagent</key>
	<true/>
	<key>com.apple.lskdd</key>
	<true/>
	<key>com.apple.ftp-proxy-embedded</key>
	<true/>
	<key>com.apple.wifi.hostapd</key>
	<true/>
	<key>com.apple.wirelessproxd</key>
	<true/>
	<key>com.apple.nanotimekitcompaniond</key>
	<true/>
	<key>com.apple.rtbuddyd</key>
	<true/>
	<key>com.apple.pipelined</key>
	<true/>
	<key>com.apple.nfsconf</key>
	<true/>
	<key>com.apple.sosd</key>
	<true/>
	<key>com.apple.fdrhelper</key>
	<true/>
	<key>com.apple.idamd</key>
	<true/>
	<key>com.apple.CommCenterRootHelper</key>
	<true/>
	<key>com.apple.geod</key>
	<true/>
	<key>com.apple.softwareupdateservicesd</key>
	<true/>
	<key>com.apple.idsfoundation.IDSRemoteURLConnectionAgent</key>
	<true/>
	<key>com.apple.watchlistd</key>
	<true/>
	<key>com.apple.hangtracerd</key>
	<true/>
	<key>com.apple.GameController.gamecontrollerd</key>
	<true/>
	<key>com.apple.safarifetcherd</key>
	<true/>
	<key>com.apple.itunescloudd</key>
	<true/>
	<key>com.apple.tailspind</key>
	<true/>
	<key>com.apple.mobileassetd</key>
	<true/>
	<key>com.apple.nfcd</key>
	<true/>
	<key>com.apple.syncdefaultsd</key>
	<true/>
	<key>com.apple.scrod</key>
	<true/>
	<key>com.apple.mobile.storage_mounter_proxy</key>
	<true/>
	<key>com.apple.dprivacyd</key>
	<true/>
	<key>com.apple.BTServer</key>
	<true/>
	<key>com.apple.BTServer.le</key>
	<true/>
	<key>com.apple.calaccessd</key>
	<true/>
	<key>com.apple.assetsd.nebulad</key>
	<true/>
	<key>com.apple.swcd</key>
	<true/>
	<key>com.apple.absd</key>
	<true/>
	<key>com.apple.recentsd</key>
	<true/>
	<key>com.apple.mobile.house_arrest</key>
	<true/>
	<key>com.apple.mobile.installation_proxy</key>
	<true/>
	<key>com.apple.ptpd</key>
	<true/>
	<key>com.apple.wifivelocityd</key>
	<true/>
	<key>com.apple.WirelessRadioManager</key>
	<true/>
	<key>com.apple.DataDetectorsSourceAccess</key>
	<true/>
	<key>com.apple.ids.IDSCredentialsAgent</key>
	<true/>
	<key>com.apple.adid</key>
	<true/>
	<key>com.apple.CommCenterMobileHelper</key>
	<true/>
</dict>
</plist>
