<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>MaxBluetoothModemConnections</key>
   <integer>5</integer>
   <key>AllowEDGEEditing</key>
   <true/>
   <key>MandatoryVerify</key>
   <dict>
      <key>SIMs</key>
      <array>
      </array>
   </dict>
   <key>Enable4GByDefault</key>
   <true/>
   <key>ShowLTEWarningUnsupportedCarrier</key>
   <false/>
   <key>SupportsNITZ</key>
   <true/>
   <key>ShowCallForwarding</key>
   <false/>
   <key>MyAccountURL</key>
   <string>http://m.o2online.de/goto/iphonestart</string>
   <key>VVMIgnoresIntlDataRoaming</key>
   <false/>
   <key>ShowCallForwarded</key>
   <false/>
   <key>APNEditabilityTypemask</key>
   <integer>53</integer>
   <key>com.apple.voicemail.imap</key>
   <dict>
      <key>BeaconServiceCenter</key>
      <string>+491760000443</string>
      <key>MaxGreetingDuration</key>
      <integer>120</integer>
      <key>UsesSSL</key>
      <false/>
      <key>GreetingNotification</key>
      <true/>
      <key>MinPINLength</key>
      <integer>4</integer>
      <key>UsesMWI</key>
      <false/>
      <key>AuthenticationScheme</key>
      <string>DIGEST-MD5</string>
      <key>BeaconAddress</key>
      <string>88629</string>
      <key>ClientManagesTrash</key>
      <false/>
      <key>MaxPINLength</key>
      <integer>4</integer>
   </dict>
   <key>MyAccountURLTitle</key>
   <string>o2 online</string>
   <key>VMSMFilterNumber</key>
   <string>+491793000333</string>
   <key>StockSymboli</key>
   <array>
      <dict>
         <key>name</key>
         <string></string>
         <key>symbol</key>
         <string>TEF.MC</string>
      </dict>
      <dict>
         <key>name</key>
         <string></string>
         <key>symbol</key>
         <string>^GDAXI</string>
      </dict>
      <dict>
         <key>name</key>
         <string></string>
         <key>symbol</key>
         <string>O2D.DE</string>
      </dict>
   </array>
   <key>StatusBarImages</key>
   <array>
      <dict>
         <key>AllowPrefixMatching</key>
         <true/>
         <key>CarrierName</key>
         <string>o2 - de</string>
         <key>StatusBarCarrierName</key>
         <string>o2-de</string>
      </dict>
   </array>
   <key>SupportedSIMs</key>
   <array>
      <string>26207</string>
   </array>
   <key>ShowDialAssist</key>
   <true/>
   <key>OverrideOperatorWiFiName</key>
   <string>WLAN</string>
   <key>Show3GSwitchWith4G</key>
   <true/>
   <key>IMSConfig</key>
   <dict>
      <key>Signaling</key>
      <dict>
         <key>securityAgreementOptions</key>
         <string>ipsec-3gpp;alg=hmac-md5-96;ealg=aes-cbc;mod=trans;prot=esp,ipsec-3gpp;alg=hmac-md5-96;ealg=null;mod=trans;prot=esp,ipsec-3gpp;alg=hmac-sha-1-96;ealg=aes-cbc;mod=trans;prot=esp;,ipsec-3gpp;alg=hmac-sha-1-96;ealg=null;mod=trans;prot=esp;</string>
         <key>InviteErrorResponsesToTriggerCSFB</key>
         <string>3XX,5XX,6XX</string>
         <key>useIPSec</key>
         <true/>
         <key>ringingTimer</key>
         <integer>120</integer>
         <key>NetworkBasedCallWaiting</key>
         <false/>
         <key>preconditions</key>
         <string>supportedButMandatory</string>
         <key>ringbackTimer</key>
         <integer>120</integer>
         <key>preconditionUpdateDelayTimer</key>
         <integer>128000</integer>
         <key>AllowedPdpTypeMask</key>
         <integer>2</integer>
         <key>CountryOfOriginationFormat</key>
         <string>PANI</string>
         <key>maxUdpMessageSize</key>
         <integer>1200</integer>
         <key>TriggerCSFBOnSdpError</key>
         <true/>
         <key>AlwaysUnsubscribeFromRegEvents</key>
         <false/>
         <key>supportPEarlyMediaHeader</key>
         <true/>
      </dict>
      <key>Media</key>
      <dict>
         <key>maxRed</key>
         <integer>220</integer>
         <key>modeChangeCapability</key>
         <integer>2</integer>
         <key>UseRTPDetectionAutoStart</key>
         <true/>
         <key>includeSDPModeChangeCapability</key>
         <true/>
         <key>RingbackTone</key>
         <string>CEPT</string>
         <key>includeSDPMaxRed</key>
         <true/>
         <key>rtcpInterval</key>
         <integer>5</integer>
         <key>enableBandwidthSpecifiers</key>
         <true/>
      </dict>
      <key>ConferenceCalling</key>
      <dict>
         <key>AlwaysSubscribeToConferenceEvents</key>
         <false/>
         <key>SendConferenceSubscribeAfterRefers</key>
         <true/>
         <key>SendConferenceSubscribeInNewDialog</key>
         <true/>
         <key>conferenceServer</key>
         <string>sip:teleconferenceuri-factory@telefonica.de</string>
      </dict>
      <key>EnableWiFiCallingWithoutEntitlement</key>
      <true/>
      <key>Voice</key>
      <dict>
         <key>E911OverITechSupported</key>
         <false/>
      </dict>
   </dict>
   <key>PhoneNumberRegistrationGatewayAddress</key>
   <string>+447786205094</string>
   <key>CarrierName</key>
   <string>o2-de</string>
   <key>AttachAPN</key>
   <dict>
      <key>3GPP</key>
      <dict>
         <key>password</key>
         <string></string>
         <key>PcscfAddressRequired</key>
         <false/>
         <key>username</key>
         <string></string>
         <key>apn</key>
         <string>internet</string>
         <key>AllowedProtocolMask</key>
         <integer>1</integer>
      </dict>
   </dict>
   <key>VisualVoicemailServiceName</key>
   <string>IMAP</string>
   <key>DeliverLegacyNotificationsBeforeSetup</key>
   <true/>
   <key>ShowTTY</key>
   <false/>
   <key>MMS</key>
   <dict>
      <key>MaxImageDimension</key>
      <integer>1024</integer>
      <key>Version</key>
      <string>1.2</string>
      <key>GroupModeEnabled</key>
      <false/>
      <key>MMSC</key>
      <string>http://10.81.0.7:8002</string>
      <key>Proxy</key>
      <string>82.113.100.5:8080</string>
      <key>MaxMessageSize</key>
      <integer>307200</integer>
   </dict>
   <key>TechSettings</key>
   <dict>
      <key>WifiCallingAllowedInRoaming</key>
      <true/>
      <key>ChildSAs</key>
      <dict>
         <key>FirstChild</key>
         <dict>
            <key>ChildProposals</key>
            <array>
               <dict>
                  <key>EncryptionAlgorithm</key>
                  <array>
                     <string>AES-256</string>
                  </array>
                  <key>Lifetime</key>
                  <integer>80000</integer>
                  <key>IntegrityAlgorithm</key>
                  <array>
                     <string>SHA2-256</string>
                  </array>
               </dict>
            </array>
            <key>ReplayWindowSize</key>
            <integer>12</integer>
            <key>InstallPolicies</key>
            <true/>
         </dict>
      </dict>
      <key>iRatPolicies</key>
      <dict>
         <key>PreferredTechnology</key>
         <string>cellular</string>
      </dict>
      <key>ExtraConfigurationAttributeRequestv4</key>
      <array>
         <dict>
            <key>Identifier</key>
            <integer>16384</integer>
            <key>Type</key>
            <string>IPv4Address</string>
            <key>Name</key>
            <string>AssignedPCSCFIPv4</string>
         </dict>
      </array>
      <key>5wiServiceMask</key>
      <integer>1</integer>
      <key>ExtraConfigurationAttributeRequestv6</key>
      <array>
         <dict>
            <key>Identifier</key>
            <integer>16390</integer>
            <key>Type</key>
            <string>IPv6Address</string>
            <key>Name</key>
            <string>AssignedPCSCFIPv6</string>
         </dict>
      </array>
      <key>EPDGResolutionFallbackEnabled</key>
      <true/>
      <key>TechPolicies</key>
      <array>
         <dict>
            <key>policy</key>
            <string>true</string>
            <key>serviceMask</key>
            <integer>131072</integer>
         </dict>
      </array>
      <key>IKE</key>
      <dict>
         <key>NATTKeepAliveEnabled</key>
         <true/>
         <key>DeadPeerDetectionEnabled</key>
         <false/>
         <key>DeadPeerDetectionMaxRetries</key>
         <integer>4</integer>
         <key>DeadPeerDetectionInterval</key>
         <integer>600</integer>
         <key>LocalIdentifier</key>
         <string>0$imsi@nai.epc.mnc$mnc.mcc$mcc.3gppnetwork.org</string>
         <key>NATTKeepAliveOffload</key>
         <true/>
         <key>NATTKeepAliveInterval</key>
         <integer>20</integer>
         <key>Proposals</key>
         <array>
            <dict>
               <key>EncryptionAlgorithm</key>
               <string>AES-256</string>
               <key>DHGroup</key>
               <integer>14</integer>
               <key>EAPMethod</key>
               <string>EAP-AKA</string>
               <key>AuthenticationMethod</key>
               <string>None</string>
               <key>IntegrityAlgorithm</key>
               <string>SHA2-256</string>
               <key>Lifetime</key>
               <integer>80000</integer>
               <key>PRFAlgorithm</key>
               <string>SHA1-160</string>
            </dict>
         </array>
         <key>DeadPeerDetectionRetryInterval</key>
         <integer>10</integer>
         <key>RemoteAddress</key>
         <string>epdg.epc.mnc007.mcc262.pub.3gppnetwork.org</string>
         <key>ValidateRemoteCertificate</key>
         <false/>
      </dict>
      <key>SetHandOverIPv6Prefix</key>
      <true/>
      <key>WiFiCallingControlsAlliWLanServices</key>
      <true/>
   </dict>
   <key>SupportedPLMNs</key>
   <array>
      <string>26203</string>
   </array>
   <key>apns</key>
   <array>
      <dict>
         <key>password</key>
         <string></string>
         <key>username</key>
         <string></string>
         <key>apn</key>
         <string>internet</string>
         <key>type-mask</key>
         <integer>55</integer>
      </dict>
      <dict>
         <key>password</key>
         <string></string>
         <key>tech-type-mask</key>
         <integer>131072</integer>
         <key>username</key>
         <string></string>
         <key>apn</key>
         <string>ims</string>
         <key>AllowedProtocolMask</key>
         <integer>2</integer>
      </dict>
   </array>
   <key>OTASoftwareUpdate</key>
   <dict>
      <key>SoftwareUpdateOptInRequired</key>
      <true/>
      <key>MaxBytesOverCellular</key>
      <integer>209715200</integer>
   </dict>
</dict>
</plist>